[CERTIFICATE]
CERT_PATH = "../config/certbundle.pem"
CERT_PASS = "PASSWORD"

[GSX]
BASE_URL = "https://partner-connect.apple.com/gsx/api"
SOLD_TO = "0000123456"

[DATABASE]
HOST = "localhost"
PORT = "3306"
DB = "gsxrest"
USER = "root"
PASS = ""

[HEADER]
ACCEPT_LANGUAGE = "en_US"

[OTHER]
TZ = "America/New_York"